/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [AutoID]
      ,[bRdFlag]
      ,[cBusType]
      ,[cBusCode]
      ,[cVouCode]
      ,[ID]
      ,[ValueID]
      ,[JustID]
      ,[dVouDate]
      ,[dKeepDate]
      ,[iMonth]
      ,[iPZID]
      ,[iPZDate]
      ,[cPZtype]
      ,[cPZdigest]
      ,[cInvHead]
      ,[cDifHead]
      ,[cOppHead]
      ,[cVouType]
      ,[cPTCode]
      ,[cSTCode]
      ,[cWhCode]
      ,[cAccDep]
      ,[cInvCode]
      ,[cRdCode]
      ,[cVenCode]
      ,[cCusCode]
      ,[cOrderCode]
      ,[cARVCode]
      ,[cBillCode]
      ,[cDLCode]
      ,[cPSPCode]
      ,[cProCode]
      ,[cDepCode]
      ,[cPersonCode]
      ,[cHandler]
      ,[iAInQuantity]
      ,[iAOutQuantity]
      ,[iInCost]
      ,[iOutCost]
      ,[iAInPrice]
      ,[iAOutPrice]
      ,[cBatchCode]
      ,[iDebitDifCost]
      ,[iCreditDifCost]
      ,[cAccounter]
      ,[cMaker]
      ,[bFlag]
      ,[bMoneyFlag]
      ,[bSale]
      ,[cMemo]
      ,[cDefine1],(SELECT (SELECT cInvCName FROM InventoryClass C WHERE C.cInvCCode=LEFT(B.cInvCCode,4)) FROM Inventory B WHERE B.cInvCode=A.cInvCode)
      ,[cDefine2]
      ,[cDefine3]
      ,[cDefine4]
      ,[cDefine5]
      ,[cDefine6]
      ,[cDefine7]
      ,[cDefine8]
      ,[cDefine9]
      ,[cDefine10]
      ,[cFree1]
      ,[cFree2]
      ,[cPZID]
      ,[cDefine22]
      ,[cDefine23]
      ,[cDefine24]
      ,[cDefine25]
      ,[cDefine26]
      ,[cDefine27]
      ,[cItem_class]
      ,[cItemCode]
      ,[cName]
      ,[cItemCName]
      ,[noJustQuantity]
      ,[cFree3]
      ,[cFree4]
      ,[cFree5]
      ,[cFree6]
      ,[cFree7]
      ,[cFree8]
      ,[cFree9]
      ,[cFree10]
      ,[cDefine11]
      ,[cDefine12]
      ,[cDefine13]
      ,[cDefine14]
      ,[cDefine15]
      ,[cDefine16]
      ,[cDefine28]
      ,[cDefine29]
      ,[cDefine30]
      ,[cDefine31]
      ,[cDefine32]
      ,[cDefine33]
      ,[cDefine34]
      ,[cDefine35]
      ,[cDefine36]
      ,[cDefine37]
      ,[psvsid]
      ,[cCXHDcode]
      ,[cCXFScode]
      ,[cBatchia]
      ,[dMadeDateia]
      ,[iMassDateia]
      ,[cMassUnit]
      ,[dVDateia]
      ,[cproordercode]
      ,[iproorderid]
      ,[iproorderids]
      ,[cworkprocode]
      ,[cworkprocodedis]
      ,[cworkcentercode]
      ,[cworkcentername]
      ,[cendcode]
      ,[csaleordercode]
      ,[isaleorderid]
      ,[isaleordersid]
      ,[isaleorderids]
      ,[centrustordercode]
      ,[ientrustorderid]
      ,[ientrustordersid]
      ,[cpurordercode]
      ,[ipurordersid]
      ,[idlsid]
      ,[strContractCode]
      ,[inum]
      ,[cAssUnit]
      ,[exoCode]
      ,[iExRowno]
      ,[consignMentCode]
      ,[iconsignmentautoid]
      ,[iTrans]
      ,[iLevel]
      ,[BakID]
      ,[iBG_Ctrl]
      ,[cIMOrdercode]
      ,[imaterialfee]
      ,[iProcessFee]
      ,[cMaterialHead]
      ,[cProcessHead]
      ,[cSRcVoutype]
      ,[fLaborStdCostE]
      ,[fManuFixStdCostE]
      ,[fManuVarStdCostE]
      ,[fOmCostE]
      ,[cdemandcode]
      ,[cdemandmemo]
      ,[imaterialfeeDif]
      ,[fLaborCostEffRateDif]
      ,[fLaborCostRateDif]
      ,[fManuFixCostEffRateDif]
      ,[fManuFixCostRateDif]
      ,[fManuVarCostEffRateDif]
      ,[fManuVarCostRateDif]
      ,[fOmCostEDif]
      ,[cbMemo]
      ,[msdetailsid]
      ,[dtAudit]
      ,[iYMonth]
      ,[iYear]
      ,[dCreateDate]
      ,[GUID]
      ,[MoneySrc]
  FROM [UFDATA_116_2015].[dbo].[IA_Subsidiary] A ORDER BY [dCreateDate] DESC
  
  insert into IA_Subsidiary
  ([bRdFlag]
      ,[cBusType]
      ,[cBusCode]
      ,[cVouCode]
      ,[ID]
      ,[ValueID]
      ,[JustID]
      ,[dVouDate]
      ,[dKeepDate]
      ,[iMonth]
      ,[iPZID]
      ,[iPZDate]
      ,[cPZtype]
      ,[cPZdigest]
      ,[cInvHead]
      ,[cDifHead]
      ,[cOppHead]
      ,[cVouType]
      ,[cPTCode]
      ,[cSTCode]
      ,[cWhCode]
      ,[cAccDep]
      ,[cInvCode]
      ,[cRdCode]
      ,[cVenCode]
      ,[cCusCode]
      ,[cOrderCode]
      ,[cARVCode]
      ,[cBillCode]
      ,[cDLCode]
      ,[cPSPCode]
      ,[cProCode]
      ,[cDepCode]
      ,[cPersonCode]
      ,[cHandler]
      ,[iAInQuantity]
      ,[iAOutQuantity]
      ,[iInCost]
      ,[iOutCost]
      ,[iAInPrice]
      ,[iAOutPrice]
      ,[cBatchCode]
      ,[iDebitDifCost]
      ,[iCreditDifCost]
      ,[cAccounter]
      ,[cMaker]
      ,[bFlag]
      ,[bMoneyFlag]
      ,[bSale]
      ,[cMemo]
      ,[cDefine1]
      ,[cDefine2]
      ,[cDefine3]
      ,[cDefine4]
      ,[cDefine5]
      ,[cDefine6]
      ,[cDefine7]
      ,[cDefine8]
      ,[cDefine9]
      ,[cDefine10]
      ,[cFree1]
      ,[cFree2]
      ,[cPZID]
      ,[cDefine22]
      ,[cDefine23]
      ,[cDefine24]
      ,[cDefine25]
      ,[cDefine26]
      ,[cDefine27]
      ,[cItem_class]
      ,[cItemCode]
      ,[cName]
      ,[cItemCName]
      ,[noJustQuantity]
      ,[cFree3]
      ,[cFree4]
      ,[cFree5]
      ,[cFree6]
      ,[cFree7]
      ,[cFree8]
      ,[cFree9]
      ,[cFree10]
      ,[cDefine11]
      ,[cDefine12]
      ,[cDefine13]
      ,[cDefine14]
      ,[cDefine15]
      ,[cDefine16]
      ,[cDefine28]
      ,[cDefine29]
      ,[cDefine30]
      ,[cDefine31]
      ,[cDefine32]
      ,[cDefine33]
      ,[cDefine34]
      ,[cDefine35]
      ,[cDefine36]
      ,[cDefine37]
      ,[psvsid]
      ,[cCXHDcode]
      ,[cCXFScode]
      ,[cBatchia]
      ,[dMadeDateia]
      ,[iMassDateia]
      ,[cMassUnit]
      ,[dVDateia]
      ,[cproordercode]
      ,[iproorderid]
      ,[iproorderids]
      ,[cworkprocode]
      ,[cworkprocodedis]
      ,[cworkcentercode]
      ,[cworkcentername]
      ,[cendcode]
      ,[csaleordercode]
      ,[isaleorderid]
      ,[isaleordersid]
      ,[isaleorderids]
      ,[centrustordercode]
      ,[ientrustorderid]
      ,[ientrustordersid]
      ,[cpurordercode]
      ,[ipurordersid]
      ,[idlsid]
      ,[strContractCode]
      ,[inum]
      ,[cAssUnit]
      ,[exoCode]
      ,[iExRowno]
      ,[consignMentCode]
      ,[iconsignmentautoid]
      ,[iTrans]
      ,[iLevel]
      ,[BakID]
      ,[iBG_Ctrl]
      ,[cIMOrdercode]
      ,[imaterialfee]
      ,[iProcessFee]
      ,[cMaterialHead]
      ,[cProcessHead]
      ,[cSRcVoutype]
      ,[fLaborStdCostE]
      ,[fManuFixStdCostE]
      ,[fManuVarStdCostE]
      ,[fOmCostE]
      ,[cdemandcode]
      ,[cdemandmemo]
      ,[imaterialfeeDif]
      ,[fLaborCostEffRateDif]
      ,[fLaborCostRateDif]
      ,[fManuFixCostEffRateDif]
      ,[fManuFixCostRateDif]
      ,[fManuVarCostEffRateDif]
      ,[fManuVarCostRateDif]
      ,[fOmCostEDif]
      ,[cbMemo]
      ,[msdetailsid]
      ,[dtAudit]
      ,[iYMonth]
      ,[iYear]
      ,[dCreateDate]
      ,[GUID]
      ,[MoneySrc])
  select 
  [bRdFlag]
      ,[cBusType]
      ,[cBusCode]
      ,[cVouCode]
      ,[ID]
      ,[ValueID]
      ,[JustID]
      ,[dVouDate]
      ,[dKeepDate]
      ,[iMonth]
      ,[iPZID]
      ,[iPZDate]
      ,[cPZtype]
      ,[cPZdigest]
      ,[cInvHead]
      ,[cDifHead]
      ,[cOppHead]
      ,[cVouType]
      ,[cPTCode]
      ,[cSTCode]
      ,[cWhCode]
      ,[cAccDep]
      ,[cInvCode]
      ,[cRdCode]
      ,[cVenCode]
      ,[cCusCode]
      ,[cOrderCode]
      ,[cARVCode]
      ,[cBillCode]
      ,[cDLCode]
      ,[cPSPCode]
      ,[cProCode]
      ,[cDepCode]
      ,[cPersonCode]
      ,[cHandler]
      ,[iAInQuantity]
      ,[iAOutQuantity]
      ,[iInCost]
      ,[iOutCost]
      ,[iAInPrice]
      ,[iAOutPrice]
      ,[cBatchCode]
      ,[iDebitDifCost]
      ,[iCreditDifCost]
      ,[cAccounter]
      ,[cMaker]
      ,[bFlag]
      ,[bMoneyFlag]
      ,[bSale]
      ,[cMemo]
      ,[cDefine1]
      ,[cDefine2]
      ,[cDefine3]
      ,[cDefine4]
      ,[cDefine5]
      ,[cDefine6]
      ,[cDefine7]
      ,[cDefine8]
      ,[cDefine9]
      ,[cDefine10]
      ,[cFree1]
      ,[cFree2]
      ,[cPZID]
      ,[cDefine22]
      ,[cDefine23]
      ,[cDefine24]
      ,[cDefine25]
      ,[cDefine26]
      ,[cDefine27]
      ,[cItem_class]
      ,[cItemCode]
      ,[cName]
      ,[cItemCName]
      ,[noJustQuantity]
      ,[cFree3]
      ,[cFree4]
      ,[cFree5]
      ,[cFree6]
      ,[cFree7]
      ,[cFree8]
      ,[cFree9]
      ,[cFree10]
      ,[cDefine11]
      ,[cDefine12]
      ,[cDefine13]
      ,[cDefine14]
      ,[cDefine15]
      ,[cDefine16]
      ,[cDefine28]
      ,[cDefine29]
      ,[cDefine30]
      ,[cDefine31]
      ,[cDefine32]
      ,[cDefine33]
      ,[cDefine34]
      ,[cDefine35]
      ,[cDefine36]
      ,[cDefine37]
      ,[psvsid]
      ,[cCXHDcode]
      ,[cCXFScode]
      ,[cBatchia]
      ,[dMadeDateia]
      ,[iMassDateia]
      ,[cMassUnit]
      ,[dVDateia]
      ,[cproordercode]
      ,[iproorderid]
      ,[iproorderids]
      ,[cworkprocode]
      ,[cworkprocodedis]
      ,[cworkcentercode]
      ,[cworkcentername]
      ,[cendcode]
      ,[csaleordercode]
      ,[isaleorderid]
      ,[isaleordersid]
      ,[isaleorderids]
      ,[centrustordercode]
      ,[ientrustorderid]
      ,[ientrustordersid]
      ,[cpurordercode]
      ,[ipurordersid]
      ,[idlsid]
      ,[strContractCode]
      ,[inum]
      ,[cAssUnit]
      ,[exoCode]
      ,[iExRowno]
      ,[consignMentCode]
      ,[iconsignmentautoid]
      ,[iTrans]
      ,[iLevel]
      ,[BakID]
      ,[iBG_Ctrl]
      ,[cIMOrdercode]
      ,[imaterialfee]
      ,[iProcessFee]
      ,[cMaterialHead]
      ,[cProcessHead]
      ,[cSRcVoutype]
      ,[fLaborStdCostE]
      ,[fManuFixStdCostE]
      ,[fManuVarStdCostE]
      ,[fOmCostE]
      ,[cdemandcode]
      ,[cdemandmemo]
      ,[imaterialfeeDif]
      ,[fLaborCostEffRateDif]
      ,[fLaborCostRateDif]
      ,[fManuFixCostEffRateDif]
      ,[fManuFixCostRateDif]
      ,[fManuVarCostEffRateDif]
      ,[fManuVarCostRateDif]
      ,[fOmCostEDif]
      ,[cbMemo]
      ,[msdetailsid]
      ,[dtAudit]
      ,[iYMonth]
      ,[iYear]
      ,[dCreateDate]
      ,[GUID]
      ,[MoneySrc] 
  FROM [IA_Subsidiary] A where AutoID='6492'
  
  SELECT * FROM InventoryClass WHERE cInvCCode='01010101' GROUP BY cInvCCode
  SELECT * FROM [Inventory] WHERE cInvCode='999'
  SELECT (SELECT (SELECT cInvCName FROM InventoryClass C WHERE C.cInvCCode=B.cInvCCode) FROM Inventory B WHERE B.cInvCode=A.cInvCode) FROM [IA_Subsidiary] A