<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--默认数据库名-->
    <add key="dbname" value="UFDATA_118_2017"/>
  </appSettings>
  <connectionStrings>
    <!--数据库连接设置-->
    <add name="dbu8" connectionString="Data Source=CYGKY1;User ID=sa;Password=1;Persist Security Info=true;" providerName="SqlServer"/>
  </connectionStrings>
</configuration>